<nav>
	<div class="central-column">
		<ul class="list-hz">
			<li><a href="/">Home</a></li>
			<li><a href="/case-studies">Custom Post Type</a></li>
			<li><a href="/insights">Blog Posts</a></li>
			<li><a href="/contact">Custom Page Template</a></li>
			<li class="legal"><a href="/terms-conditions">Plain Text Page</a></li>
		</ul>
	</div>
</nav>
