<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Cube3 | we build business</title>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<% include ../views/partials/masthead %>

	<%- hero %>

		<main>
			<%- body %>
		</main>

		<% include ../views/partials/colophon %>
        <script id="axios" src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script id="index" src="/js/index.js" charset="utf-8"></script>
</body>

</html>
