<%- contentFor('hero') %>
	<div class="hero themed">
		<div class="inner">
			<div class="content">
				<div class="central-column">
					<h1>
                		4💩4 error!
            		</h1>
					<h3>
						<strong>
							Well this is awkward, looks like we’ve f*cked up. Or you can’t type...
						</strong>
					</h3>
					<p>
						Either way, get yourself off home and let’s never speak of this again.
					</p>

					<a href="/" class="button">Home</a>

                    <p><small><%- text %></small></p>
				</div>
			</div>
		</div>
	</div>

	<%- contentFor('body') %>
		<!-- This is left intentionally blank -->
