<%- contentFor('hero') %>
	<div class="hero full-screen">
		<div class="inner">
			<div class="content">
                <h1 class="central-column">
					<small>video goes here</small>
                </h1>
			</div>
		</div>
	</div>

	<%- contentFor('body') %>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis rem, doloribus officia sequi impedit ipsum earum provident hic, amet sit quis voluptatem maxime, eum perferendis id labore cumque consequatur quidem! Voluptate in, corporis quas illum, dolor consectetur laborum dolorem beatae iste. Veniam commodi quia perspiciatis, aliquid dignissimos libero veritatis aut in nemo provident magnam voluptate tempora beatae incidunt dolorum consectetur placeat, blanditiis consequuntur neque earum. Optio, nisi ducimus laudantium molestiae unde incidunt ex nobis quia, vitae magnam sequi. Repellat tenetur consequuntur illum consectetur laborum optio! Officia quam, id assumenda consectetur odio cum temporibus. Explicabo, aperiam earum corporis totam voluptas ipsa.
