<%- contentFor('hero') %>
<!-- This is left intentionally blank -->

	<%- contentFor('body') %>
		<article class="page central-column">
			<div class="inner">
				<h1><%- post.title.rendered %></h1>
				<%- post.content.rendered %>
			</div>
		</article>
